:root {
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
}
body {
    font-family: Montserrat, sans-serif;
    width: 100%;
    background-color: #3f3f3f;
}

.page-wrapper {
    height: max-content;
    background-color: black;
    object-fit: cover;
}
/*================================= LOADING SCREEN===========================*/
.loading-screen {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}
@keyframes shining {
    0% {
        background-position: -200%;
    }
    100% {
        background-position: 200%;
    }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #000, #fff);
    background-size: 200% 200%;
    animation: shining 10s infinite linear;
}

/*================================NAVBAR====================================*/
.side-nav {
    height: 100vh;
    width: 60px;
    background-color: white;
    z-index: 998;
    position: fixed;
}
.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    padding: 0;
    margin-top: 0;
    z-index: 999;
    /*border-bottom: solid 1px white;*/
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    /*border-radius: 90px;*/
    transition: background-color .4s ease;
}
.navbar:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
    width: 100%;
    /*padding: 0 5px;*/
    margin: 0;

}

.nav-item {
    text-decoration-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
}
.nav>li:hover {
    /*border: solid 1px darkgray;*/
    border-radius: 20px;
    margin: 75px;
    background-color: black;


}
.nav>li {
    transition: margin 0.5s ease, background-color .2s ease;
    text-decoration-color: white;
}
/*======================== Navbar animations ===============================*/
.nav-item {
    animation: slideDown 0.5s ease-in-out forwards;
    text-decoration-color: white;
}
.navbar-items.show {
    transition: transition 0.5s ease-in-out;
    transform: translateY(0);
}
@keyframes slideDown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/*=======================================================*/
nav a {
    text-decoration: none;
    color: gray;
}
nav a:hover {
    color: white;
}

li.contact:hover {
    cursor: pointer;

}
/*================================NAVBAR END====================================*/

/*================================ HERO ========================================*/
.hero {
    height: 200vh;
    width: 100%;
    align-self: center;
    /*background-color: #5a5a5a;*/
    background-position: center;
    background-color: #2d2d2d;
    position: relative;
    background-attachment: fixed;
    background-size: contain;


}
.hero-image {
    width: 500px;
    height: 663px;
    z-index: 998;
    position: relative;
    pointer-events: none;
    opacity: 0;

}
/*.image-container {*/
/*    height: 700px;*/
/*    width: 700px;*/
/*    margin-top: -200px;*/
/*    !*margin-bottom: 500px;*!*/
/*    border-radius: 360px;*/
/*    !*background-color: black;*!*/
/*    background: linear-gradient(to bottom, #620000, red, darkred, black);*/
/*    !*background: linear-gradient(to bottom, darkblue, blue, darkblue, black);*!*/
/*    !*background: linear-gradient(to bottom, green, lime, green, black);*!*/
/*}*/

.name-title {
    margin-top: 150px;
    font-size: 5rem;
    /*position: fixed;*/
    z-index: 997;
    /*border: solid white 1px;*/
    padding: 50px;
    /*box-shadow: 3px 20px 30px rgba(0, 0, 0, 1);*/


}

.name-title>h1 {
    color: white;
    font-weight: bolder;
    font-size: 7rem;
    margin: 0;
}

.luis {
    font-weight: bolder;
    color: white;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 1);
}

.name-title>h1 span:hover {
    background-color: black;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(333, 333, 333, .2);

.luis {
    color: red;
}

}



.name-title>h2 {
    color: #cfcfcf;
    margin: 0;
    font-size: 5rem;
    transition: margin .5s ease;

    .third-line {
        color: #a3a3a3;
    }
         .fourth-line {
            color: #797979;
        }
            .fifth-line {
                color: #505050;
            }
}

.line {
    transition: padding 0.5s ease, margin .5s ease, background-color .3s ease, border .3s ease;

}
.name-title>h2 span:hover {
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 18px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(333, 333, 333, .2);
}


.language-icons {
    margin: 15px 0px;
}

.language-icons>svg {
    /*filter: drop-shadow(0px 5px 10px rgba(0, 255, 247, 0.5));*/
}

main.container {
    background-color: black;
    height: 1000px;
    overflow-x: scroll;
}
/*================================ HERO END ========================================*/
.parent {
    display: flex;
    flex-direction: column;
    position: relative;
}

.parent ul.dropdown{
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    padding-left: 0;
    opacity: 0;
    /*pointer-events: none;*/
    transition: all ease .3s;
}

.parent.show ul.dropdown {
    opacity: 1;
    pointer-events: all;
}

.parent ul.dropdown li {
    list-style: none;
    padding: 5px 20px;
}

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: -5;
}

.modal .modal-bg {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);

}

.modal .modal-container {
    padding: 20px;
    position: relative;
    z-index: 2;
}

/*------------------------------------------ ABOUT -------------------------------------*/

#about {
    background-color: #2d2d2d;
    height: 100%;
    width: 100%;



     .row {
        height: 500px;
        width: 100%;
        gap: 50px;
        justify-content: space-between;

    }

}

#about h2 {
    margin-bottom: 0;
    font-size: 2rem;
}
#about h3 {
    margin-top: 0;
    font-size: 2rem;
}
.about-text {
    height: 100%;
    width: 100%;
    color: white;
    text-align: left;
    background-color: #2d2d2d;
    padding: 100px;
    border-radius: 20px;
    justify-content: center;
}
.about-spinner {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #2d2d2d;
    border-radius: 20px;
    object-fit: cover;
    justify-content: center;
    align-content: center;
    text-align: center;


#spinner-png {
        width: 275px;
        height: 275px;
        position: absolute;
        /*margin-left: 100px;*/
        transition: transform .5s ease;
        display: flex;
    align-self: center;
    z-index: 100;


    }
}
.more-circle {
    width: 150px;
    height: 150px;
    /*border: solid black 1px;*/
    border-radius: 360px;
    align-self: center;
    justify-self: center;
    position: relative;
    transition: transform .5s ease;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    .more {
        margin-top: 45px;
    }

}


/*-------------------------------------------------------Logos ----------------------*/

.skills {   /* container */
    margin-top: 50px;
}

.language-icons {


}