:root {

}

* {
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: #3f3f3f;
}

.page-wrapper {
    height: max-content;
    background-color: black;
    object-fit: cover;
}

.side-nav {
    height: 100vh;
    width: 60px;
    background-color: white;
    z-index: 998;
    position: fixed;
}
.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 999;
    border-bottom: solid 1px white;
}
.navbar:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

ul {
    color: white;
    list-style: none;
    width: 100%;
    /*padding: 0 5px;*/
    margin: 0;

}
/*======================== Navbar animations ===============================*/
.nav-item {
    animation: slideDown 0.5s ease-in-out forwards;
}
.navbar-items.show {
    transition: transition 0.5s ease-in-out;
    transform: translateY(0);
}
@keyframes slideDown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/*=======================================================*/
nav a {
 color: white;
    text-decoration: none;
}

li.contact:hover {
    cursor: pointer;
}
.name>p {
    display: flex;
    color: white;
    margin-left: 75px;
}

.hero {
    height: 100vh;
    width: 100%;
    align-self: center;
    background-color: #a20000;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    background-size: contain;

}

.name-title {
    color: white;
    margin-bottom: 125px;
    /*text-align: center;*/

}

.name-title>h1 {
    font-weight: bold;
    font-size: 5rem;
    margin: 0;
}

.name-title>h2 {
    margin: 0 45px;
    font-size: 2rem;
}

.language-icons {
    margin: 15px 0px;
}
.language-icons>svg {
    /*filter: drop-shadow(0px 5px 10px rgba(0, 255, 247, 0.5));*/
}

main.container {
    background-color: black;
    height: 1000px;
}

.parent {
    display: flex;
    flex-direction: column;
    position: relative;
}

.parent ul.dropdown{
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    padding-left: 0;
    opacity: 0;
    /*pointer-events: none;*/
    transition: all ease .3s;
}

.parent.show ul.dropdown {
    opacity: 1;
    pointer-events: all;
}

.parent ul.dropdown li {
    list-style: none;
    padding: 5px 20px;
}

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: -5;
}

.modal .modal-bg {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);

}

.modal .modal-container {
    padding: 20px;
    position: relative;
    z-index:2;
}
